.card {
    position: relative;
    margin: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    width: 300px;
    height: 250px;

    &:hover .card__button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -15px;
        right: -15px;
        background-color: #e1dfdf;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    &__container {
        text-align: center;
    }

    &__button {
       display: none;

        &_icon {
            color: red;
        }
    }
}
